dlib
tensorflow==1.15.0
tensorboard==1.15.0
azure-cognitiveservices-vision-face==0.6.0
tqdm
scikit-image
opencv-python
pillow==9.5.0
protobuf==3.20.3
imageio
matplotlib
mxnet
Ninja
google-auth
google-auth-oauthlib
click
requests
pyspng
imageio-ffmpeg==0.4.3
scikit-learn
torchdiffeq==0.0.1
flask
kornia==0.2.0
lmdb
psutil
dominate
rtree
